<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/23/22452_605063.jpg</string>
		</array>
		<key>burden</key>
		<string>姜,适量;蒜,适量;葱,适量;生抽,适量;胡椒粉,适量;盐,适量;八角,适量</string>
		<key>id</key>
		<string>22452</string>
		<key>imtro</key>
		<string>自从开始用烤炉，很多东西都可以放进去烤，做的菜也多了一种选择。不过，我总觉的烤炉会浪费点，一般的东西，都要烤上个二十几三十分钟，烤制一只全鸡，可差不多要一个小时，估计我的电费会不停往上涨，呵呵。不过，烤出来的东西确实香一些，家里小MM是不停的说这也要烤，那也要烤，为了她有好胃口，只能多交点电费了。</string>
		<key>ingredients</key>
		<string>鸡翅,400g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/225/22452_44c2bb00150be920.jpg</string>
				<key>step</key>
				<string>1.用姜蒜葱段，生抽，胡椒粉，盐、八角稍微腌制20分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/225/22452_479a8568acdc46a6.jpg</string>
				<key>step</key>
				<string>2.腌制完毕后，放于烤箱的托盘上。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/225/22452_b43428e11380d2f3.jpg</string>
				<key>step</key>
				<string>3.放入烤箱，150度烤20分钟，期间要翻动一下使它烤制均匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/225/22452_37a0168f5727ee11.jpg</string>
				<key>step</key>
				<string>4.烤出的鸡翅外表金黄，柔嫩多汁，还有浓郁的葱蒜香味，好吃。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>家常菜;葱香;烤;宴请;夜宵;朋友聚餐;1-2人;锅子;1小时-2小时</string>
		<key>title</key>
		<string>葱蒜烤鸡翅根</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/23/22866_325657.jpg</string>
		</array>
		<key>burden</key>
		<string>清水,1碗</string>
		<key>id</key>
		<string>22866</string>
		<key>imtro</key>
		<string>小牛娃最近吃的辅食就是红萝卜水，所以常为他准备半根萝卜。萝卜水剩下的萝卜丁经常就用来做这道缤纷灿烂，清爽可口的合炒了。</string>
		<key>ingredients</key>
		<string>红萝卜,半根</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/229/22866_121b2bec79d30808.jpg</string>
				<key>step</key>
				<string>1.原料；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/229/22866_d09625bbe4ad979a.jpg</string>
				<key>step</key>
				<string>2.红萝卜切成细丁；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/229/22866_686f42a9bd79f515.jpg</string>
				<key>step</key>
				<string>3.原料放入锅内大火煮开后，小火焖煮5分钟；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/229/22866_9266aef634634ccc.jpg</string>
				<key>step</key>
				<string>4.用开水烫过的漏网（或纱布）滤去红萝卜丁即成。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>甜品;甜;煮;下午茶;糖水;夜宵;1-2人;锅子;1小时-2小时</string>
		<key>title</key>
		<string>胡萝卜水</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/23/22304_223810.jpg</string>
		</array>
		<key>burden</key>
		<string>姜,1块;酱油,适量;蚝油,适量;食用油,适量;红酒,适量;盐,适量;胡椒粉,适量;椒盐粉,适量;孜然粉,适量;白芝麻仁,少量</string>
		<key>id</key>
		<string>22304</string>
		<key>imtro</key>
		<string>没有烤箱也能烧烤鸡翅吗？试试用电磁炉烧烤档来做一道烧烤鸡翅，其散发出的烧烤肉香不亚于烤箱烤出的鸡翅。</string>
		<key>ingredients</key>
		<string>鸡翅,150g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22304_e512cd950d14d77d.jpg</string>
				<key>step</key>
				<string>1.用刀在鸡翅两边各划2-3刀，姜切片。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22304_ff072e5e1dc7ae60.jpg</string>
				<key>step</key>
				<string>2.鸡翅用姜片，酱油，蚝油，食用油，红酒，盐，胡椒粉，椒盐粉，孜然粉腌1小时入味。（腌时请注意各调味品用量，咸淡要合适）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22304_950cb4169f9654f8.jpg</string>
				<key>step</key>
				<string>3.电磁炉调到烧烤档中小档火力（我是100度火力档），平底锅刷上油，下鸡翅细火慢烤。（火力不能大，大了，鸡翅皮易焦烤破）不时用锅铲动动鸡翅底，以防皮粘锅。中途要不时添加些油。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22304_aa55ed5ee03b6f36.jpg</string>
				<key>step</key>
				<string>4.翻煎另一面，仍然不时用锅铲动动鸡翅底，以防皮粘锅，同时还可以把腌制时剩下的酒料均匀洒在鸡翅上。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22304_6c551fba3db15199.jpg</string>
				<key>step</key>
				<string>5.待鸡翅两边全熟时，即离火，撒上椒盐粉，孜然粉，白芝麻仁于表面。（喜欢辣的，还可再撒上些辣椒粉）</string>
			</dict>
		</array>
		<key>tags</key>
		<string>甜;半小时-1小时;煎;烤;简单;红葡萄酒;小吃;烧烤味;夜宵;全菜系;1-2人;烧烤炉;中等难度;1小时-2小时</string>
		<key>title</key>
		<string>烧烤鸡翅</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/11/10387_747294.jpg</string>
		</array>
		<key>burden</key>
		<string>葱,适量;盐,适量;鸡精,适量</string>
		<key>id</key>
		<string>10387</string>
		<key>imtro</key>
		<string>由于偶不太能吃辣,所以很少做韩国菜,第一次做它,迫不及待的吃了一大口完了,家里损失了一瓶冰可乐,然后命令家里的长住人口把它们消灭!味道还是8错滴,就是稍微辣了点,能吃辣的同学们有福了!</string>
		<key>ingredients</key>
		<string>年糕,500g;韩国辣酱,10g;洋葱,30g;甜不辣,10g;蒜白菜,30g;胡萝卜,30g;韭菜,30g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/104/10387_9b52312197ce9bf6.jpg</string>
				<key>step</key>
				<string>1.原料大集合</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/104/10387_9610847c667f0365.jpg</string>
				<key>step</key>
				<string>2.白菜，胡萝卜切丝，韭菜切段</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/104/10387_7981405991495c0a.jpg</string>
				<key>step</key>
				<string>3.油烧热后爆香洋葱粒和蒜泥</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/104/10387_268b27ec8bec281a.jpg</string>
				<key>step</key>
				<string>4.下处理好的蔬菜（图2）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/104/10387_74a5be83ee735d3c.jpg</string>
				<key>step</key>
				<string>5.炒均以后放切好的甜不辣</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/104/10387_28a45bd494a890ae.jpg</string>
				<key>step</key>
				<string>6.炒香后加两大勺韩式辣酱和水</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/104/10387_ad8b95a4c7982e24.jpg</string>
				<key>step</key>
				<string>7.放入年糕煮三分钟，味道不够再加少许食盐，起锅放鸡精。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>辣;炒;白领;春季;冬季;韩式;特色菜;夜宵;1-2人;炒锅;1小时-2小时</string>
		<key>title</key>
		<string>韩式炒年糕</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/23/22676_809007.jpg</string>
		</array>
		<key>burden</key>
		<string>香草豉油,适量;匍匐迷迭香,2枝;料酒,适量;油,适量;麻油,适量;柠檬金边百里香,5条;九层塔,3条</string>
		<key>id</key>
		<string>22676</string>
		<key>imtro</key>
		<string>这次烤鸡我用了味道比较浓郁的匍匐迷迭香，带点柠檬清香的柠檬金边百里香以及罗勒里面的九层塔一起烤！迷迭香辟除鸡肉异味，百里香提升鸡肉鲜味，而罗勒就是增香，各自发挥其特质！</string>
		<key>ingredients</key>
		<string>鸡,500g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/227/22676_5328f609fee802b4.jpg</string>
				<key>step</key>
				<string>1.光鸡洗干净晾干水备用，香草洗干净加入半碗香草豉油，少许料酒，油，麻油煮出香味后熄火摊凉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/227/22676_2d9537d83494d4be.jpg</string>
				<key>step</key>
				<string>2.把光鸡加入加工好的调味豉油里弄均匀用保鲜膜包好放入冰箱腌过夜。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/227/22676_afa39a66e9790b4b.jpg</string>
				<key>step</key>
				<string>3.烤箱200度预热10分钟 锡纸铺在托盘上，把鸡放在烤架上，200度烤箱中层烤60分钟途中里外均匀刷腌3-4次。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/227/22676_dde47a2ca159e437.jpg</string>
				<key>step</key>
				<string>4.取出后即可开吃。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>家常菜;烤;宴请;烤箱;鲜香;夜宵;朋友聚餐;1-2人;1小时-2小时</string>
		<key>title</key>
		<string>百香烤鸡</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/23/22369_207198.jpg</string>
		</array>
		<key>burden</key>
		<string>米条,适量;柿子椒,适量;芝麻,适量;蒜末,适量;辣椒粉,适量;醪糟,适量;韩式辣椒酱,适量;糖,适量;香油,适量;盐,适量;葱,适量</string>
		<key>id</key>
		<string>22369</string>
		<key>imtro</key>
		<string>炒米条酸甜辣糯,吃起来QQ的,韩式炒米条在韩国街头的小吃摊很常见,韩式炒米条的做法很简单。</string>
		<key>ingredients</key>
		<string>胡萝卜,200g;洋葱,100g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22369_dc9e0c40fcabc305.jpg</string>
				<key>step</key>
				<string>1.先把米条切成3厘米长的段，放到开水里煮5分钟，米条没有硬心后捞出备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22369_8e4734f574f91712.jpg</string>
				<key>step</key>
				<string>2.起锅，油热后，放入葱，然后放入胡萝卜翻炒1分钟后，加入米条，翻炒一会儿，放入辣椒酱和辣椒粉，然后加入洋葱和柿子椒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22369_b1fb861e3c9f5537.jpg</string>
				<key>step</key>
				<string>3.翻炒一会儿后，加入秘密武器---醪糟。我放了满满一小盘呢，如果不放醪糟的话，味道就会大打折扣了。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22369_8ef01cdc2e3e995d.jpg</string>
				<key>step</key>
				<string>4.放入醪糟后，稍微炖2分钟，依据个人口味加入盐和糖，快出锅的时候放入蒜沫，淋入香油，装盘后洒上芝麻。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>辣;炒;白领;冬季;下午茶;韩式;特色菜;夜宵;1-2人;炒锅;1小时-2小时</string>
		<key>title</key>
		<string>韩式炒米条</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/23/22487_284800.jpg</string>
		</array>
		<key>burden</key>
		<string>糖,适量;盐,适量;油,适量;葱,适量;姜,适量;蒜,适量</string>
		<key>id</key>
		<string>22487</string>
		<key>imtro</key>
		<string>一般人均认为食用鳗鱼即可增强体力；因此人们便认为鳗鱼是夏季的食物，其实普通都是在冬天才可品尝到鳗鱼的滋味；因为鳗鱼在冬天时，脂肪含量较少，也较便于食用，并可补充冬天所缺乏的维生素A，因此是冬天最好的食品。 鳗鱼统称为鳗鲡，分为河鳗和海鳗，为名贵食用鱼类，滋补价值高。河鳗又称白鳝、蛇鱼，其特点是含脂肪量高，含胆固醇也较多。海鳗与河鳗相比，脂肪含量要低 得多，胆固醇含量也少。而我今天买到的就是海鳗，我为什么这么说呢？嚎！因为我在鱼肚子里发现了一只大虾的尸体，哦这么说不好看，那说成大虾的遗体，唉，也不好听，反正就是一个死了的大虾，好大一只虾哦要是在外面卖的话都得是二三十一斤的品种类。不过它已经补鳗鱼的内脏腐蚀了不能吃了，白瞎罗。</string>
		<key>ingredients</key>
		<string>鳗鱼,250g;红酒,100ml</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/225/22487_a107c044c45bad32.jpg</string>
				<key>step</key>
				<string>1.鳗鱼洗净切块，肚子里面一定要洗干净。然后在肚子内侧把鱼背切开，但不能切断，成一个打开的片装，这样更好入味也更好烹饪。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/225/22487_8d69ec1850eb6a6d.jpg</string>
				<key>step</key>
				<string>2.放入少许红酒，盐，生抽葱姜蒜腌制下入味半小时。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/225/22487_5fb55cabb355c0a1.jpg</string>
				<key>step</key>
				<string>3.锅内加入少许油，把腌好的鳗鱼块下锅两面稍煎一下。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/225/22487_ede07ac686009424.jpg</string>
				<key>step</key>
				<string>4.都煎好后用锅内的底油把花椒葱姜蒜煸香，倒入鳗鱼，加糖，红酒如果不够咸还可以加些盐，小火炖至收汁。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>家常菜;夜宵;全菜系;炒锅</string>
		<key>title</key>
		<string>红酒鳗鱼</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/23/22429_310601.jpg</string>
		</array>
		<key>burden</key>
		<string>青椒,适量;胡萝卜,适量;酱油,少许;盐,少许;糖,少许;料酒,少许;腐乳汁,少许;辣椒粉,少许;姜粉,少许;烤肉酱,适量</string>
		<key>id</key>
		<string>22429</string>
		<key>imtro</key>
		<string>真好，大自然赋予人类那么多缤纷色彩。随意搭配起来，都能赏心悦目。 一直相信，心情是有颜色的。美丽心情的色彩，绝不单一。 很愉悦的烤完这个鸡肉串，很愉悦的看着人们扫荡一光。 很愉悦的料理着好心情。有时候，快乐就这么简单。</string>
		<key>ingredients</key>
		<string>洋葱,1个;鸡腿肉,350g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/225/22429_cf6a77fd2d63bf4e.jpg</string>
				<key>step</key>
				<string>1.青椒、洋葱分别洗净切丁，胡萝卜刻花。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/225/22429_62eaeb64e44749b8.jpg</string>
				<key>step</key>
				<string>2.鸡腿肉切小丁，加入酱油、盐、糖、料酒、腐乳汁、辣椒粉、姜粉腌制入味。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/225/22429_6651219448e34789.jpg</string>
				<key>step</key>
				<string>3.把青椒丁、洋葱丁和鸡腿肉用竹签按照自己喜欢的色彩顺序串起来，两面均匀刷上大喜大烤鸡肉酱。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/225/22429_81bc6281633b62bb.jpg</string>
				<key>step</key>
				<string>4.均匀刷上烧烤料，烤盘垫锡纸放最下层，烤架放中间一层，烤箱预热250℃，两面各烤8分钟。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>家常菜;烤箱;鲜香;夜宵</string>
		<key>title</key>
		<string>酱烤鸡肉串</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/23/22893_773576.jpg</string>
		</array>
		<key>burden</key>
		<string>洋葱,1个;土豆,1个;豆角,1把;姜,3片;咖喱,1大块</string>
		<key>id</key>
		<string>22893</string>
		<key>imtro</key>
		<string>今天宅在家里继续鼓捣报表，傍晚饥肠辘辘的俺翻冰箱找出一大块红咖喱，嘿！这么冷的天就吃它暖和吧。 咖喱知识介绍： 咖喱是音译，源于泰米尔文，意思就是调料。它是以姜黄为主料，另加多种香辛料配制而成的复合调味料，其味辛辣带甜，具有特别的香气，主要用于烹调牛羊肉、鸡、鸭、螃蟹、土豆、菜花和汤羹等，是中西餐常用的调味料。在东南亚许多国家中，咖喱是必备的重要调料。 咖喱营养分析： 1. 咖喱的主要成分是姜黄粉、川花椒、八角、胡椒、桂皮、丁香和芫荽籽等含有辣味的香料，能促进唾液和胃液的分泌，增加胃肠蠕动，增进食欲； 2. 咖喱能促进血液循环，达到发汗的目的； 3. 美国癌症研究协会指出，咖喱所含的姜黄素具有激活肝细胞并抑制癌细胞的功能； 4. 咖喱还具有协助伤口复合，预防老年痴呆症的作用。 咖喱适合人群： 一般人群均可食用 胃炎、溃疡病患者少食，患病服药期间不宜食用。</string>
		<key>ingredients</key>
		<string>鸡翅,2个</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/229/22893_0dff66b5c8d9c98f.jpg</string>
				<key>step</key>
				<string>1.鸡翅两个洗净斩成小块，小洋葱一个切大块，中型土豆去皮切成块，豆角摘洗干净掰半，姜切片~</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/229/22893_42b1c7952f707aef.jpg</string>
				<key>step</key>
				<string>2.咖喱是这种红咖喱，可能因为光线的问题，有些偏黄</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/229/22893_02e0e43ff6c393be.jpg</string>
				<key>step</key>
				<string>3.当锅里热油冒烟时，将鸡块和姜片放入，烹些料酒，翻啊翻</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/229/22893_89fdb0ac7bb85b5e.jpg</string>
				<key>step</key>
				<string>4.然后放入洋葱翻啊翻。然后放入土豆，翻啊翻~</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/229/22893_ecf901dd4b8fef02.jpg</string>
				<key>step</key>
				<string>5.放入开水，等锅再次烧开，放入豆角，盖盖炖吧</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/229/22893_210d0340705dd34a.jpg</string>
				<key>step</key>
				<string>6.大概15分钟左右，放入咖喱块，搅匀即可关火~~</string>
			</dict>
		</array>
		<key>tags</key>
		<string>家常菜;10-20分钟;烤;烤箱;特色菜;咖喱味;夜宵;全菜系;1-2人;活血</string>
		<key>title</key>
		<string>红咖喱鸡翅</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/23/22621_198346.jpg</string>
		</array>
		<key>burden</key>
		<string>新奥尔良腌料,20g</string>
		<key>id</key>
		<string>22621</string>
		<key>imtro</key>
		<string>新奥尔良烤鸡翅：懒人的好方法（飞雪店铺10项大奖公布） 不知道从什么时候开始，大街小巷人人都吃起了新奥尔良鸡翅，不光在于好吃，主要是方面。简单的不行。</string>
		<key>ingredients</key>
		<string>鸡翅,8只</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/227/22621_616ebaea8c25eed6.jpg</string>
				<key>step</key>
				<string>1.鸡翅洗净</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/227/22621_10a1e0f17f28df33.jpg</string>
				<key>step</key>
				<string>2.倒入少许腌料</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/227/22621_effec581e194e1c0.jpg</string>
				<key>step</key>
				<string>3.放入保鲜膜中，放冰箱一夜</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/227/22621_5524c415a63bf5be.jpg</string>
				<key>step</key>
				<string>4.取出放在烤盘上</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/227/22621_71b8b6fa15a836d8.jpg</string>
				<key>step</key>
				<string>5.烤箱200度预热第一层25分钟</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/227/22621_4d379f46e8b171f8.jpg</string>
				<key>step</key>
				<string>6.取出刷蜂蜜水就好了。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>老年人;咸香;10-20分钟;烤;夜宵;全菜系;1-2人;烧烤炉</string>
		<key>title</key>
		<string>新奥尔良烤鸡翅</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/23/22365_265158.jpg</string>
		</array>
		<key>burden</key>
		<string>糖,43g;盐,4g;干酵母,5.5g;鲜奶油,30g;牛奶,27g;牛奶香料,4.5g;黄油,25g;芝麻,适量</string>
		<key>id</key>
		<string>22365</string>
		<key>imtro</key>
		<string>非常喜欢吃新奥尔良烤鸡腿堡……里面的鸡腿！哈哈^O^ 有了烤箱，有了腌料，这么美味的包包，咱们也可以自己做啦！ 面包的方子选自北海道牛奶土司，非常的绵软可口； 烤的鸡腿鲜嫩多汁，肉质相当的爽脆，好吃极了~ 制作汤种： 另取25克高粉加入到125克凉水中，搅拌均匀，放到小锅里，用中小火，不停搅拌，至面糊浓稠离火，即成汤种,取92克使用即可 汉堡内馅：去骨鸡腿肉6块，切丝生菜少许。K记的还有青椒丝，我省略了</string>
		<key>ingredients</key>
		<string>高筋面粉,270g;全蛋液,43g;汤种,92g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_47fd468a8ac8684f.jpg</string>
				<key>step</key>
				<string>1.除黄油以外的其他材料，全部放在一起，揉成面团</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_c459900c46ab86ab.jpg</string>
				<key>step</key>
				<string>2.再将黄油加入，慢慢揉进面团，揉至面团至完成阶段（即可以拉出薄膜来，手工揉面，也尽量揉到面团比较光滑）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_0932b8e8e379f4bc.jpg</string>
				<key>step</key>
				<string>3.揉好的面团放到温暖湿润处进行第一次发酵至原来2.5倍大，第一次发酵完成</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_18efb0f9762ce7f5.jpg</string>
				<key>step</key>
				<string>4.用手指蘸干面粉，插进面团，若小坑很快回缩则发酵未完成，反之则发酵完成 (可以在锅里放热水，或者微波炉,烤箱里放热水,将需要发酵的面团放到大小适合的容器，蒙保鲜膜，放到里面锅里，或者微波炉，或者烤箱)</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_6cf9c4648174cc01.jpg</string>
				<key>step</key>
				<string>5.用手压去空气</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_8e435db96a44c4b9.jpg</string>
				<key>step</key>
				<string>6.取出揉成面团</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_8c9745360361f2f0.jpg</string>
				<key>step</key>
				<string>7.分成6分(大约85克/个)，滚圆，蒙保鲜膜松弛10分钟</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_56d2442f4e92b788.jpg</string>
				<key>step</key>
				<string>8.整形成椭圆形</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_a134ffc3009f0f27.jpg</string>
				<key>step</key>
				<string>9.面包表面扫上蛋液，洒上芝麻（要用手轻轻按一下以使粘住）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_2e2cc3fb7fcd0618.jpg</string>
				<key>step</key>
				<string>10.将排上烤盘的面团，放到温暖湿润处进行第二次发酵至原来2-2.5倍左右</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_a570315273f63594.jpg</string>
				<key>step</key>
				<string>11.第二次发酵完成</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_3d8d7043c08dea47.jpg</string>
				<key>step</key>
				<string>12.烤箱预热170度，烤箱中层18-20分钟左右即可出炉</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_6dcdb7dfaef0c4dc.jpg</string>
				<key>step</key>
				<string>13.面包出炉后不能立即吃的，这时候我们来烤鸡腿:鸡腿洗净沥去水份，骨肉分离，用刀背把肉稍微敲打一下使之平整些（我漏了这环节，嘿嘿~）</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_31b623c82d3655d5.jpg</string>
				<key>step</key>
				<string>14.取奥尔良腌料若干（以自己口味轻重而定），加清水拌匀</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_ef215dc924772b04.jpg</string>
				<key>step</key>
				<string>15.鸡腿肉全身泡澡，放入保鲜袋中，再将腌汁全部倒入，封好口</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_c0626f1fbb0c3897.jpg</string>
				<key>step</key>
				<string>16.放冰箱冷藏保存12至24小时，中间翻面一至两次，使其充分入味</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_a0c8f597b2a01701.jpg</string>
				<key>step</key>
				<string>17.要烤了：非常简单，鸡腿肉排盘，烤箱预热200度，烤25分钟左右，中间翻面一次</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22365_2b4a0807ee4867d9.jpg</string>
				<key>step</key>
				<string>18.最后工序： 将放凉的面包横剖开，放入一块鸡腿肉，放入生菜丝、挤上沙拉酱</string>
			</dict>
		</array>
		<key>tags</key>
		<string>咸香;烤;宴请;烤箱;夜宵;朋友聚餐;2小时以上;1-2人</string>
		<key>title</key>
		<string>仿KFC之新奥尔良烤鸡腿堡</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/23/22390_169001.jpg</string>
		</array>
		<key>burden</key>
		<string>牛奶,250ml;百利甜酒,适量</string>
		<key>id</key>
		<string>22390</string>
		<key>imtro</key>
		<string>一直喜欢喝一点点红酒，装一下小资，呵呵~！ 后来上网看到原来有一种酒叫百利甜酒，特别适合女孩子喝，于是就带着好奇买了一瓶回家！ 百利甜酒可以直接加冰块喝，也可以加牛奶喝，味道真的很不错，原来它酒精很淡，只有17度左右；里面有奶油，香草味极浓，我爱极了，现在已经买了三瓶了，呵呵！ 这回我把它加入到自制的香蕉奶昔中，也是非常美味，有机会你也自己做着试试吧！</string>
		<key>ingredients</key>
		<string>香蕉,200g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22390_5d24223f256e62e5.jpg</string>
				<key>step</key>
				<string>1.准备好牛奶、百利甜酒、香蕉等；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22390_e98ff66686ec5eb1.jpg</string>
				<key>step</key>
				<string>2.香蕉去皮，切成一厘米左右大小的段；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22390_1096f12b986789e5.jpg</string>
				<key>step</key>
				<string>3.把香蕉块放入搅拌机中,倒入牛奶搅拌约一分钟；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/224/22390_6c982362ff58f426.jpg</string>
				<key>step</key>
				<string>4.当牛奶与香蕉充分混合在一起的时候即可，喝的时候加百利甜酒拌匀即可！</string>
			</dict>
		</array>
		<key>tags</key>
		<string>其他;饮品;夏;甜;奶香;10分钟内;白领;酒;夜宵;江米酒;全菜系;百利;1-2人</string>
		<key>title</key>
		<string>香蕉奶甜酒</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/23/22620_101344.jpg</string>
		</array>
		<key>burden</key>
		<string>洋葱,80g;红咖喱膏,适量;椰浆,适量</string>
		<key>id</key>
		<string>22620</string>
		<key>imtro</key>
		<string>在澳门买了一瓶泰国红咖喱酱，哈哈，不贵哦，才9块多澳门元！ 拿来做虾吧，蛋白质可高了！ 汤汁拿来拌饭真的好好吃啊！</string>
		<key>ingredients</key>
		<string>鲜虾,250g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/227/22620_a3a22300adb96eec.jpg</string>
				<key>step</key>
				<string>1.鲜虾剪去须与虾枪，用牙签挑掉虾丝，备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/227/22620_5fe55104cff06328.jpg</string>
				<key>step</key>
				<string>2.热锅，下黄油炒香洋葱粒，加入咖喱膏一起炒，加入适量水煮开。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/227/22620_3d0a01681a2725e8.jpg</string>
				<key>step</key>
				<string>3.加入虾一起煮熟，加椰浆，如果汁稀可加生粉水勾芡；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/227/22620_9d6f9a74e35c4553.jpg</string>
				<key>step</key>
				<string>4.收汁即成。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>家常菜;热菜;10分钟内;10-20分钟;炒;特色菜;咖喱味;夜宵;维生素B;全菜系;1-2人;活血;锅子;中等难度</string>
		<key>title</key>
		<string>红咖喱虾</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/23/22534_442459.jpg</string>
		</array>
		<key>burden</key>
		<string>水,适量;鸡蛋,1个</string>
		<key>id</key>
		<string>22534</string>
		<key>imtro</key>
		<string>寒冷的冬季来一碗热腾腾的甜酒冲蛋当早餐，淡淡的酒味配上浓浓鸡蛋的香味，应该是咱们湖南人能够享受到的一种自得的美味。这个是妈妈们都会做的一种美味。 听说甜酒冲蛋还是很补的，不过我更加喜欢的是偷喝冰冷的米酒。冬天吃饭的时候烫上一壶甜酒，从口暖到心里。不过可不要贪杯哦，喝的时候很顺口，但是还是有后劲的：）</string>
		<key>ingredients</key>
		<string>新鲜糯米,2000g;酒曲,1包</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/226/22534_fef69f315742f7ac.jpg</string>
				<key>step</key>
				<string>1.3,5斤糯米，泡一个晚上；如果是热水泡两个小时就差不多了。把米沥干，垫上纱布，锅下放水，大火蒸半个小时左右。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/226/22534_70f9d8d8b7e7d2eb.jpg</string>
				<key>step</key>
				<string>2.关火后，把糯米倒到筛子上，拿事先准备好的凉白开冲一会，让它降温。 此步也可省略。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/226/22534_c7e18db000ec997b.jpg</string>
				<key>step</key>
				<string>3.用筷子拨散，等糯米饭充分降温。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/226/22534_4513bdf8b759ad30.jpg</string>
				<key>step</key>
				<string>4.把甜酒曲均匀撒在米饭上。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/226/22534_f51c42480680826e.jpg</string>
				<key>step</key>
				<string>5.把糯米饭搅拌均匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/226/22534_b236c71066c7be66.jpg</string>
				<key>step</key>
				<string>6.把搅拌均匀的糯米饭抚平，中间掏一个洞，让空气充分和米饭接触。 有暖气的可以放到暖气片附近，不要放到暖气片上，两三天后就出酒。 没暖气片的可以搞个热水袋放旁边然后用棉被包起来，大概一个星期出酒。 出酒后就放在室温下随吃随取。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/226/22534_636ba618afd5abc6.jpg</string>
				<key>step</key>
				<string>7.鸡蛋打匀备用；年糕切成小粒。 先取适量米酒+酒糟放入少量水里煮开，加入年糕粒煮一会，倒入鸡蛋，蛋花煮开出锅。 觉得甜度不够可以加入一些糖。 可以接受的加入姜米粒一起煮，另外有一番风味。 香甜可口，热气腾腾。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>早餐;饮品;香;孕妇;青少年;老人;白领;夜宵;全菜系;2小时以上;1-2人;锅子;其他工艺;聚会饮品</string>
		<key>title</key>
		<string>糯米甜酒</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/23/22892_701172.jpg</string>
		</array>
		<key>burden</key>
		<string>青椒,适量;精盐,适量;五香粉,1勺;鸡精,1勺;葱末,适量;蒜末,1勺;花生油,适量;生抽,2勺</string>
		<key>id</key>
		<string>22892</string>
		<key>imtro</key>
		<string>土豆的营养成分非常丰富，100克土豆蛋白质含量约在2克～2.5克。 土豆丝：清爽可口，咸的，酸的，辣的都很好吃，简直是百搭的菜型！</string>
		<key>ingredients</key>
		<string>土豆,200g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/229/22892_3231c172d7786102.jpg</string>
				<key>step</key>
				<string>1.土豆去皮清洗干净，青椒一个清洗干净。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/229/22892_9c625a160e4761b6.jpg</string>
				<key>step</key>
				<string>2.把土豆切成粗细均匀，长短一致的细丝放入大碗中用清水浸泡片刻，捞出滤净水分。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/229/22892_69504452a2e7c3c3.jpg</string>
				<key>step</key>
				<string>3.把青椒也切成丝。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/229/22892_df45bbde346d4210.jpg</string>
				<key>step</key>
				<string>4.炒锅置火上，烧热后注入花生油，7成油温时下入土豆丝翻炒，把土豆丝炒到断生。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/229/22892_c59863089a29ebe8.jpg</string>
				<key>step</key>
				<string>5.接着放入青椒丝翻炒，在下入精盐、味精、十三香、花椒油、鸡精，生抽，蒜末翻炒成熟即可出锅装盘。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/229/22892_4cd8cfc07a89e7a5.jpg</string>
				<key>step</key>
				<string>6.清爽的土豆丝就出锅了。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>家常菜;增肥;10-20分钟;烧;香;白领;特色菜;夜宵;小资;全菜系;1-2人;健脾;祛风散寒;祛寒;活血;健脾胃;锅子;助睡眠;脾虚</string>
		<key>title</key>
		<string>青椒土豆丝</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/18/17131_259106.jpg</string>
		</array>
		<key>burden</key>
		<string>白糖,适量</string>
		<key>id</key>
		<string>17131</string>
		<key>imtro</key>
		<string>1.健脾益胃、助消化： 　　山药含有淀粉酶、多酚氧化酶等物质，有利于脾胃消化吸收功能，是一味平补脾胃的药食两用之品。不论脾阳亏或胃阴虚，皆可食用。临床上常用治脾胃虚弱、食少体倦、泄泻等病症； 　　2.滋肾益精： 　　山药含有多种营养素，有强健机体，滋肾益精的作用。大凡肾亏遗精，妇女白带多、小便频数等症，皆可服之； 　　3.益肺止咳： 　　山药含有皂甙、黏液质，有润滑，滋润的作用，故可益肺气，养肺阴，治疗肺虚痰嗽久咳之症； 　　4.降低血糖： 　　山药含有粘液蛋白，有降低血糖的作用，可用于治疗糖尿病，是糖尿病人的食疗佳品； 　　5.延年益寿： 　　山药含有大量的黏液蛋白、维生素及微量元素，能有效阻止血脂在血管壁的沉淀，预防心血疾病，取得益志安神、延年益寿的功效； 　　6.抗肝昏迷 　　近年研究发现山药具有镇静作用，可来抗肝昏迷。</string>
		<key>ingredients</key>
		<string>淮山,300g;红枣,50g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/172/17131_ef81f009d476c5da.jpg</string>
				<key>step</key>
				<string>1.红枣洗净</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/172/17131_b32579279b7c152c.jpg</string>
				<key>step</key>
				<string>2.红枣切片</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/172/17131_e0db75b379887ac5.jpg</string>
				<key>step</key>
				<string>3.淮山去皮，切片</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/172/17131_13e02f70cde5603a.jpg</string>
				<key>step</key>
				<string>4.淮山放入水中，加入红枣</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/172/17131_8754681ae7bcb3db.jpg</string>
				<key>step</key>
				<string>5.煮到淮山变软，加糖调味</string>
			</dict>
		</array>
		<key>tags</key>
		<string>甜品;补血;护肝;养胃;增肥;气虚质;阴虚质;痛经;贫血;特禀质;腹泻;月经不调;甜;10-20分钟;煮;下午茶;糖水;美白;养颜;止咳;夜宵;补铁;咳嗽;补气;全菜系;1-2人;补中益气;健脾;补虚;安神;养肝护肝;补肝;健脾胃;宁心安神;止泻;暖宫;锅子;调经;调理肠胃;气虚;宫寒;拉肚子;脾虚</string>
		<key>title</key>
		<string>淮山红枣糖水</string>
	</dict>
</array>
</plist>
