<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/42/42038_688543.jpg</string>
		</array>
		<key>burden</key>
		<string>淀粉,100g;姜,适量;蒜,适量;油,适量;白糖,适量;醋,适量;鸡精,适量;酱油,适量;料酒,适量</string>
		<key>id</key>
		<string>42038</string>
		<key>imtro</key>
		<string>这道番茄鱼片我做了十几年了，外酸甜，中香脆，里鲜嫩 ，味道很好！</string>
		<key>ingredients</key>
		<string>草鱼,500g;番茄,3个;鸡蛋,1个</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42038_f3413f07e219ac09.jpg</string>
				<key>step</key>
				<string>1.草鱼切薄片，用少许盐，姜，料酒拌匀入味。番茄去皮切丁，大蒜切碎， 蛋打匀，加少量水，加淀粉搅拌成蛋糊。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42038_41b33e3919bce6e9.jpg</string>
				<key>step</key>
				<string>2.就这样，薄薄的一层。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42038_1e75bcc724e67037.jpg</string>
				<key>step</key>
				<string>3.锅里倒350--500克油，中火，8分热，放入鱼片。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42038_cf6be7bbb902cd2e.jpg</string>
				<key>step</key>
				<string>4.炸至颜色金黄。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42038_027546138aa6583d.jpg</string>
				<key>step</key>
				<string>5.锅里放少量油，放入蒜蓉煸炒出香味。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42038_44c0fd9afb13b3b2.jpg</string>
				<key>step</key>
				<string>6.放入番茄丁煸炒，边用铲刀压碎。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42038_937d8eb7459c10f8.jpg</string>
				<key>step</key>
				<string>7.加少许醋，少许鲜酱油，二调羹白糖（喜欢甜可以多一点） 一点点盐，一点鸡精，再用水淀粉勾芡。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42038_b29eca709ad7af1a.jpg</string>
				<key>step</key>
				<string>8.均匀倒在炸好的鱼片上即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>浙菜;家常菜;美容;延缓衰老;防辐射;防癌;抗癌;10分钟内;消化不良;宴请;解暑;开胃;抗衰老;抗氧化;补铁;促消化;朋友聚餐;1-2人;防晒;凉血;清热解暑;番茄味;锅子;其他工艺;缓解压力</string>
		<key>title</key>
		<string>番茄鱼片</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/42/42037_880541.jpg</string>
		</array>
		<key>burden</key>
		<string>花雕酒,1瓶;白糖,120g;生抽,80g;老抽,40g;香葱,60g;生姜,40g;甘蔗,2小段</string>
		<key>id</key>
		<string>42037</string>
		<key>imtro</key>
		<string>浙江传统名菜东坡肉大家可能都知道，但对于东坡肉的传统做法大家是否陌生呢？今天就给大家揭秘这道菜的全过程，因为做菜要根据手头的原料和工具限制，可能做同一道菜方法不同，但大同小异，做菜要灵活地发挥自己的想象，享受快乐厨房的乐趣！</string>
		<key>ingredients</key>
		<string>五花肉,1000g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42037_80619ac98d56fceb.jpg</string>
				<key>step</key>
				<string>1.取五花肉1000克备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42037_9670801bdfd5bca9.jpg</string>
				<key>step</key>
				<string>2.准备好黄酒和甘蔗，并把甘蔗劈成小长条备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42037_c662fe22106cf31a.jpg</string>
				<key>step</key>
				<string>3.取锅上火烧热，把五花肉皮朝下放入锅中炙热1-2分钟，这样的目的是去除猪毛和猪皮上的少许油脂。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42037_b4a3e6d2c62b2de8.jpg</string>
				<key>step</key>
				<string>4.然后把五花肉放入水中冲洗，把五花肉皮上黑的用刀刮洗干净，并切成大方块备用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42037_675455f90005176e.jpg</string>
				<key>step</key>
				<string>5.取锅上火放入水，把五花肉放入开水锅里煮5分钟，撇去浮沫，捞出冲洗干净。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42037_ba68332730c2a653.jpg</string>
				<key>step</key>
				<string>6.把甘蔗用刀劈成小细条（也可用竹箅也行，我主要没有竹箅），取不锈钢锅，（砂锅最佳，不过我没有砂锅）在底层先铺上甘蔗（或竹箅），甘蔗上面在铺上香葱姜片，把五花肉皮朝下摆放好即可。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42037_2b52fdf7e638b2c8.jpg</string>
				<key>step</key>
				<string>7.依次把花雕酒、白糖、生抽、老抽、少许水（正宗的浙菜东坡肉是不加水的，全部加花雕酒，而且味道很甜）加的花雕酒或水一定要漫过肉的2/3位置。考虑你自己的口味，如果喜欢酒味浓郁的，就不需要加水，甜味可以根据自己的口味进行添加。用锡纸封好口（砂锅就不需要锡纸），大火烧开，小火焖1个小时40分钟左右，打开锅盖用筷子反转一下，旺火收汁直制水份焖至只剩锅底位置即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>浙菜;家常菜;炖;五香</string>
		<key>title</key>
		<string>东坡肉</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/42/42040_944942.jpg</string>
		</array>
		<key>burden</key>
		<string>泡打粉,10g;白糖,适量;干玫瑰花,适量</string>
		<key>id</key>
		<string>42040</string>
		<key>imtro</key>
		<string>甜甜蜜蜜，拔丝蜜桔，适合送给你身边心爱的人的一份美食....</string>
		<key>ingredients</key>
		<string>蜜桔,2个;鸡蛋,1个;面粉,70g;生粉,30g;清水,200ml</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42040_26869fb0eb1a18c8.jpg</string>
				<key>step</key>
				<string>1.桔子去皮备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42040_8ee07f9763da8474.jpg</string>
				<key>step</key>
				<string>2.面粉和生粉按7：3的比例配对好。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42040_492020ba659112fa.jpg</string>
				<key>step</key>
				<string>3.鸡蛋，泡打粉，白糖。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42040_a0dd4bb56bcd4975.jpg</string>
				<key>step</key>
				<string>4.用二百毫升的清水将生粉和面粉调成糊，加入鸡蛋和泡打粉搅拌均匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42040_00168ef98541d35e.jpg</string>
				<key>step</key>
				<string>5.将桔子放入糊糊里。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42040_a4cd982398dba3f7.jpg</string>
				<key>step</key>
				<string>6.锅里放宽油。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42040_e3095a0700356290.jpg</string>
				<key>step</key>
				<string>7.油温五成热时放入挂了糊的桔子。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42040_636fc8ce86f8bd7c.jpg</string>
				<key>step</key>
				<string>8.炸至金黄酥脆捞出滤油。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42040_d35eace48235876d.jpg</string>
				<key>step</key>
				<string>9.锅里放清水适量.倒入白糖大火烧开.改中小火熬至糖 浆浓绸.</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42040_33025ca960ec2c9c.jpg</string>
				<key>step</key>
				<string>10.将炸好的桔子再次回锅炒匀挂糖出锅.撒上玫瑰即可.</string>
			</dict>
		</array>
		<key>tags</key>
		<string>浙菜;家常菜;冬;10-20分钟;拔丝;简单;干辣椒;青少年;宴请;朋友聚餐;全菜系;1-2人;橘子味;锅子;中等难度;老年人季</string>
		<key>title</key>
		<string>拔丝蜜桔</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/30/29093_385587.jpg</string>
		</array>
		<key>burden</key>
		<string>姜,适量;蒜,适量;辣椒,适量;油,适量;盐,适量;味精,适量;胡椒粉,适量;杭椒,3个;糖,适量;醋,适量</string>
		<key>id</key>
		<string>29093</string>
		<key>imtro</key>
		<string>茄子的营养，也较丰富，含有蛋白质、脂肪、碳水化合物、维 生素以及钙、磷、铁等多种营养成分。特别是维生素P的含量很高。每100克中即含维生素P 750毫克。</string>
		<key>ingredients</key>
		<string>茄子,3个</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/291/29093_d18d8fe0a398ed85.jpg</string>
				<key>step</key>
				<string>1.切好葱、姜、蒜、辣椒备用。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/291/29093_e0bd5e990f86caf3.jpg</string>
				<key>step</key>
				<string>2.把茄子削去皮，杭椒洗好。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/291/29093_73b35b3ca0bd252d.jpg</string>
				<key>step</key>
				<string>3.把茄子切成丝，杭椒也切成丝。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/291/29093_82e71b0a114a7a70.jpg</string>
				<key>step</key>
				<string>4.锅烧热，入油加入葱、姜、蒜、辣椒炸香。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/291/29093_da19af12fc87a351.jpg</string>
				<key>step</key>
				<string>5.加入茄子炒一炒，再放适量的盐炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/291/29093_14ba664b6063d592.jpg</string>
				<key>step</key>
				<string>6.加入适量的2份糖1醋再炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/291/29093_d51bf721f3df90fe.jpg</string>
				<key>step</key>
				<string>7.茄子炒塌里放入盐、味精、胡椒粉拌匀出锅。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>浙菜;家常菜;延缓衰老;高血压;高血脂;咸;10分钟内;炒;夏季;降血脂;降血压;下酒菜;下饭菜;朋友聚餐;全菜系;1-2人;降低胆固醇;炒锅</string>
		<key>title</key>
		<string>炒茄丝</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/25/24290_904510.jpg</string>
		</array>
		<key>burden</key>
		<string>番茄酱,30g;白醋,10g;白糖,10g;色拉油,500g;鸡蛋清,1个;盐,10g;料酒,10g</string>
		<key>id</key>
		<string>24290</string>
		<key>imtro</key>
		<string>这道菜酸甜可口，补钙佳品，小朋友尤其爱吃，助长个儿哦。</string>
		<key>ingredients</key>
		<string>草鱼,400g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/243/24290_a7f6ba75fd7c30af.jpg</string>
				<key>step</key>
				<string>1.草鱼肉一块。选大块厚实的鱼肉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/243/24290_d81a8168583144e4.jpg</string>
				<key>step</key>
				<string>2.鱼肉斜30度横向间隔1厘米连续切，不要切断鱼皮。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/243/24290_14eb63eae6730f36.jpg</string>
				<key>step</key>
				<string>3.横向的刀口切好后，纵向90度连续切，不切断鱼皮。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/243/24290_309d56148ca73f67.jpg</string>
				<key>step</key>
				<string>4.这样横向和纵向切好，鱼肉上就成了众多的小方条了。切好的鱼肉撒上盐腌。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/243/24290_9d56cd275e034e1c.jpg</string>
				<key>step</key>
				<string>5.再在鱼肉上撒上料酒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/243/24290_73d7558a8eeec97a.jpg</string>
				<key>step</key>
				<string>6.最后磕上一个蛋清，将调料和鱼肉揉摸至调料被鱼肉吸收。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/243/24290_df2667533b7ab689.jpg</string>
				<key>step</key>
				<string>7.烧热炒锅，倒入油烧至7、8成热。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/243/24290_79469c082def2f8c.jpg</string>
				<key>step</key>
				<string>8.鱼肉在生粉里打滚，让所有的鱼肉条都满满沾上生粉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/243/24290_6eeb7414f16c8a27.jpg</string>
				<key>step</key>
				<string>9.沾好粉的鱼肉下入热油锅中炸。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/243/24290_7daf8a3006ee2770.jpg</string>
				<key>step</key>
				<string>10.炸好的鱼块盛入盘中。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/243/24290_6ac6f10cf5d3a5b8.jpg</string>
				<key>step</key>
				<string>11.两块鱼炸好后复炸一次。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/243/24290_d195425abfbf223c.jpg</string>
				<key>step</key>
				<string>12.锅中加白醋，白糖烧热，继续加入番茄汁熬成酸甜汁。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/243/24290_025e0d15cb74ee4c.jpg</string>
				<key>step</key>
				<string>13.最后将炸好的鱼块倒入锅中，裹上汁就可以装盘了。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>浙菜;家常菜;半小时-1小时;烧;鲜香;全菜系;1-2人;锅子</string>
		<key>title</key>
		<string>松鼠鱼</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/24/23347_720987.jpg</string>
		</array>
		<key>burden</key>
		<string>姜葱水,适量;盐,适量;油,适量;黄酒,适量</string>
		<key>id</key>
		<string>23347</string>
		<key>imtro</key>
		<string>古时，杭州城里有一大一小两家饮食店。大饭店老板欲独霸生意，常常寻事生非，欺负小饭店的老板。一天，他得知小饭店里豆腐皮断档，便唆使一些无赖到小饭店去专点吃豆腐皮，扬言若不能满足要求，就砸掉小饭店的招牌。此事激怒了一位经常在这里喝酒的彪形大汉，只见他一言不发，急出店去，跨上自己的黄膘马，挥鞭而去。谁知过了不一会儿，只听一阵马铃儿叮当响，寻声望去，大汉已出现在小饭店门口，手中还托着一包从泗乡买来的豆腐皮。 　　事后得知，此大汉乃是一位有名的江湖好汉，专爱解人危难。他的举动使小店老板感激万分，立即动手烹制了豆腐皮制作的下酒菜，不惜用上好的猪里脊肉，入油锅加而成。为了纪念这位好汉的功德，小店老板把豆腐皮卷成了马铃儿的形状。“干炸响铃”名肴就这样问世了。</string>
		<key>ingredients</key>
		<string>油皮,4张;瘦肉,50g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/234/23347_93f8bc427642dea6.jpg</string>
				<key>step</key>
				<string>1.油皮用水泡发半个小时。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/234/23347_cc9dc24b2a82f942.jpg</string>
				<key>step</key>
				<string>2.瘦肉剁成馅，</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/234/23347_be8cdf66605c30c1.jpg</string>
				<key>step</key>
				<string>3.加入姜葱水，盐，料酒，搅拌成稀糊。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/234/23347_7a6c8d18d05a30aa.jpg</string>
				<key>step</key>
				<string>4.泡好的油皮铺在案板上。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/234/23347_95e1baa13cfa4bef.jpg</string>
				<key>step</key>
				<string>5.涂上适量肉馅，用筷子推匀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/234/23347_2e58c61f4d6e5d33.jpg</string>
				<key>step</key>
				<string>6.卷成一条。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/234/23347_58251e8e73568e2e.jpg</string>
				<key>step</key>
				<string>7.切成均匀大小。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/234/23347_9e11f9f1adbb50b8.jpg</string>
				<key>step</key>
				<string>8.锅内放适量油烧到五成热，将卷好的油皮放入锅中炸两分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/234/23347_88dae2238378fd07.jpg</string>
				<key>step</key>
				<string>9.捞出沥干。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/234/23347_1598f7644cc8f500.jpg</string>
				<key>step</key>
				<string>10.将全部油皮卷复炸一次，捞出沥干油分即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>浙菜;家常菜;10分钟内;炸;香;宴请;朋友聚餐;1-2人;锅子</string>
		<key>title</key>
		<string>干炸响铃</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/43/42059_531009.jpg</string>
		</array>
		<key>burden</key>
		<string>色拉油,适量;吸油纸,5张</string>
		<key>id</key>
		<string>42059</string>
		<key>imtro</key>
		<string>换个方法吃炒蛋 那首选就是蛋松吧 用吸油纸将油份吸走后 蛋块才会有膨松感 口感上呢就只有松口不会腻口</string>
		<key>ingredients</key>
		<string>鸡蛋,100g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42059_0aa25e01c5f17cce.jpg</string>
				<key>step</key>
				<string>1.备鸡蛋2个。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42059_1bf9cd9eb3d2f86b.jpg</string>
				<key>step</key>
				<string>2.热锅加油，备过筛网一个。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42059_99c9c0c63a794a1d.jpg</string>
				<key>step</key>
				<string>3.鸡蛋打散，经筛网沥至锅内。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42059_b90863aa1c872188.jpg</string>
				<key>step</key>
				<string>4.将鸡丝炒至凝固。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42059_c0f8f21f52b670f9.jpg</string>
				<key>step</key>
				<string>5.将凝固的鸡蛋倒在吸油纸上。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42059_3b793b9bfbe0cd55.jpg</string>
				<key>step</key>
				<string>6.卷起让吸油纸听去余油即可</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42059_2985876071e46e33.jpg</string>
				<key>step</key>
				<string>7.一份蛋松完成。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>浙菜;家常菜;运动员;10分钟内;烤;青少年;1-2人;锅子;其他味</string>
		<key>title</key>
		<string>蛋松</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/24/23504_517365.jpg</string>
		</array>
		<key>burden</key>
		<string>醋,50ml;酱油,75ml;白糖,60g;姜,3g;绍酒,25ml;葱段,适量;湿淀粉,50g</string>
		<key>id</key>
		<string>23504</string>
		<key>imtro</key>
		<string>西湖醋鱼是杭州很有名的传统菜肴之一。是选用鲜活的草鱼先杀而成。烹制时火候要求非常严格，仅能用三四分钟烧得恰到好处。烧好后，再浇上一层平滑油亮的糖醋胸鳍竖起，鱼肉嫩美，带有蟹味，道鲜嫩酸甜。 肉滋别具特色。 西湖醋鱼的特点是色泽红亮，酸甜适宜，鲜美异常</string>
		<key>ingredients</key>
		<string>草鱼,900g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/236/23504_18f66f4897733ea2.jpg</string>
				<key>step</key>
				<string>1.草鱼去鳞去膛洗净。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/236/23504_fbdecbd71834ff33.jpg</string>
				<key>step</key>
				<string>2.把姜去皮切成碎末。【去掉的姜片不要丢掉】</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/236/23504_02f4c777ba94ac37.jpg</string>
				<key>step</key>
				<string>3.准备好醋 酱油 绍酒 湿淀粉 白糖。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/236/23504_8cd5a32094903be5.jpg</string>
				<key>step</key>
				<string>4. 把鱼的一面划上5刀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/236/23504_2e4984e268448e98.jpg</string>
				<key>step</key>
				<string>5.翻面从尾部入到，沿脊骨向头部劈近。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/236/23504_894d43e2f621628e.jpg</string>
				<key>step</key>
				<string>6.对切分为2瓣。 斩去鱼牙不用。去掉鱼头的淤血。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/236/23504_3c6817d308cc1196.jpg</string>
				<key>step</key>
				<string>7.在没有脊骨的身上长划一刀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/236/23504_5bc8120d63958d08.jpg</string>
				<key>step</key>
				<string>8.锅中放入葱姜片和清水烧开，捞出葱姜。 。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/236/23504_939865ee06f60ad0.jpg</string>
				<key>step</key>
				<string>9.下入鱼用筷子把鱼鳍支起来。让鱼成型。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/236/23504_409d6c51fe4dba6b.jpg</string>
				<key>step</key>
				<string>10.煮上3分钟，撇去血末。打入凉水2次。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/236/23504_d02c34aea3cba411.jpg</string>
				<key>step</key>
				<string>11.倒出汤汁，锅内加入少许的原汤和适量的酱油和绍酒 姜末。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/236/23504_0396ef9c55216e00.jpg</string>
				<key>step</key>
				<string>12.烧开捞出鱼，码放在盘中。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/236/23504_8394f6342b7146da.jpg</string>
				<key>step</key>
				<string>13.锅中的原汁加入白糖 米醋 和剩下的酱油。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/236/23504_1f94c08a7e23afb8.jpg</string>
				<key>step</key>
				<string>14.烧开后加入湿淀粉。 烧至汤汁浓缩。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/236/23504_84dc4cea6b8861d5.jpg</string>
				<key>step</key>
				<string>15.把制作好的汤汁均匀的撒在鱼的身上，再撒上剩余的姜末即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>浙菜;10分钟内;烧;香;草;全菜系;1-2人;锅子</string>
		<key>title</key>
		<string>西湖醋鱼</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/1/337_509665.jpg</string>
		</array>
		<key>burden</key>
		<string>鸡蛋,1个;淀粉,10g;酱油,10ml;盐,2g;醋,10ml;糖,5g;葱,适量;姜,适量;蒜,适量;食用油,适量;料酒,适量</string>
		<key>id</key>
		<string>337</string>
		<key>imtro</key>
		<string>红烧划水是浙江菜菜谱之一，以青蒜为制作主料，红烧划水的烹饪技巧以红烧为主，口味属于咸鲜味。著名上海风味菜。以青鱼尾巴（即划水）红烧而成。此菜工艺十分讲究，须经儿次颠翻而鱼尾不断，其难度很高。口感：菜品色泽红亮、卤汁稠浓、肥糯油润、肉滑鲜嫩。“划水”也称“甩水”，是鱼尾的一种俗称，是指鱼的尾部连尾鳍的一段。鲤鱼尾古代已视为珍品，李贺《大堤曲》诗：“郎食鲤鱼尾，妾食猩猩唇。”红烧划水选用新鲜的青鱼尾巴作料，“香浓味美胜鲤尾”。 青鱼是淡水鱼，我家不是很喜欢吃，所以我改用了肉多刺少的鳕鱼来代替。咱本身是业余美食爱好着，也做不出专业的菜系，只是做一些家常菜罢了。。所以也没必要苛刻那些食材，因人而异。也就是变着花样做些可口的饭菜，供家人享用。</string>
		<key>ingredients</key>
		<string>鳕鱼尾,2条;瘦肉丁,50g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/4/337_6623e7e20fa7d294.jpg</string>
				<key>step</key>
				<string>1.鳕鱼尾洗净，在鱼身切两刀，加入盐料酒腌制10分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/4/337_fb336b6c711d4a9c.jpg</string>
				<key>step</key>
				<string>2.腌制好的鱼表面沾上淀粉。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/4/337_bfc28399cd10dfa9.jpg</string>
				<key>step</key>
				<string>3.再裹上蛋液。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/4/337_f15d70d4b08aa5ae.jpg</string>
				<key>step</key>
				<string>4.下入7成热的油锅。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/4/337_3ec77246311bca6c.jpg</string>
				<key>step</key>
				<string>5.炸至表皮金黄捞出。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/4/337_c7b4d0d0276e76ac.jpg</string>
				<key>step</key>
				<string>6.锅中留底油，爆香葱姜蒜。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/4/337_a80998dabf3da449.jpg</string>
				<key>step</key>
				<string>7.下入瘦肉丁煸炒断生。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/4/337_ba25179e677a1864.jpg</string>
				<key>step</key>
				<string>8.加入酱油 醋 糖 盐和清水烧开。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/4/337_120002ba4206a68f.jpg</string>
				<key>step</key>
				<string>9.下入鱼，转转小火烧至汤汁浓缩即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>浙菜;家常菜;老年人;咸;10-20分钟;青少年;白领;红烧;1-2人;炒锅</string>
		<key>title</key>
		<string>红烧划水</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/43/42051_179967.jpg</string>
		</array>
		<key>burden</key>
		<string>淀粉,适量;盐,适量;料酒,适量;龙井,适量;蛋清,适量</string>
		<key>id</key>
		<string>42051</string>
		<key>imtro</key>
		<string>龙井虾仁，顾名思义，是配以龙井茶的嫩芽烹制而成的虾仁，是富有杭州地方特色的名菜。虾仁玉白，鲜嫩；芽叶碧绿，清香，色泽雅丽，滋味独特，食后清口开胃，回味无穷，在杭菜中堪称一绝。“龙井虾仁”选用活大河虾，配以清明节前后的龙井新茶烹制，虾仁肉白、鲜嫩龙井虾仁，茶叶碧绿、清香，色泽雅丽，滋味独特，是一道杭州传统风味突出的名菜。</string>
		<key>ingredients</key>
		<string>虾仁,250g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42051_504a1037325ec1eb.jpg</string>
				<key>step</key>
				<string>1.虾仁洗净，吸去水分，加入盐、料酒腌渍，加入蛋清。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42051_da06f24419e00983.jpg</string>
				<key>step</key>
				<string>2.加入淀粉</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42051_555301d06774f8fb.jpg</string>
				<key>step</key>
				<string>3.龙井用热水冲泡。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42051_5c41eb92d1e16b06.jpg</string>
				<key>step</key>
				<string>4.平底锅烧热，放入少许油，将虾仁放入，滑散。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42051_ba31829bdd223f88.jpg</string>
				<key>step</key>
				<string>5.放入龙井茶，倒入少许茶水炒好后出锅。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>浙菜;家常菜;10-20分钟;健忘;全菜系;1-2人;益智;健脑益智;健脑;增强记忆力;锅子;其他味;其他工艺;小资宴客</string>
		<key>title</key>
		<string>龙井虾仁</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/42/42049_345363.jpg</string>
		</array>
		<key>burden</key>
		<string>盐,5g;葱,10g;姜,5g;辣椒油,25ml;辣椒,1个</string>
		<key>id</key>
		<string>42049</string>
		<key>imtro</key>
		<string>【特点】 鲜绿脆嫩，宜佐面饭。</string>
		<key>ingredients</key>
		<string>油菜,1000g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42049_bdbd2dd06ddc560c.jpg</string>
				<key>step</key>
				<string>1.先把油菜摘洗干净。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42049_8f83e37f5b357ab4.jpg</string>
				<key>step</key>
				<string>2.帮宽的地方顺着切一刀。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42049_157682b8624c9cac.jpg</string>
				<key>step</key>
				<string>3.葱、姜切碎。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42049_4d1ed218da1aad70.jpg</string>
				<key>step</key>
				<string>4.放到热水中淖一下。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42049_54d809d047065f74.jpg</string>
				<key>step</key>
				<string>5.捞出来过一下凉开水。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42049_1a4dceb61faa7091.jpg</string>
				<key>step</key>
				<string>6.锅里放辣椒油。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42049_cd2f7240c536e737.jpg</string>
				<key>step</key>
				<string>7.放入葱、姜末煸炒出香味。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42049_365723f7fcf93e59.jpg</string>
				<key>step</key>
				<string>8.放入辣椒和盐翻炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42049_09826a45468a0f60.jpg</string>
				<key>step</key>
				<string>9.把油菜摆入盘中。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42049_ae9e1b05c20d307d.jpg</string>
				<key>step</key>
				<string>10.把辣椒油炝入即可。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>浙菜;家常菜;咸;10分钟内;炝;冬季;消肿;1-2人;锅子;家常宴</string>
		<key>title</key>
		<string>炝油菜</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/12/11113_968959.jpg</string>
		</array>
		<key>burden</key>
		<string>油,25;酱油,20ml;味精,2g;花椒,5g;香油,15ml;白砂糖,15ml;盐,1g</string>
		<key>id</key>
		<string>11113</string>
		<key>imtro</key>
		<string>油焖春笋”是一道杭州的传统风味菜。它选用清明前后出土的嫩春笋，以重油、重糖烹制而成，色泽红亮，鲜嫩爽口，鲜咸而带甜味，百吃不厌。1956 年被浙江省认定为36 种杭州名菜之一。 滋阴食谱 祛痰食谱 便秘食谱工艺：焖 口味：咸甜味</string>
		<key>ingredients</key>
		<string>春笋,500g;青椒,1个</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/112/11113_bab40da5ee490107.jpg</string>
				<key>step</key>
				<string>1.先把春笋、青椒洗净，切成粗条状。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/112/11113_f07f886640edcf4b.jpg</string>
				<key>step</key>
				<string>2.把笋放到热水锅中淖一下。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/112/11113_a15a282e7eec895a.jpg</string>
				<key>step</key>
				<string>3.开锅即可捞出来。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/112/11113_25fb0171c965f1fd.jpg</string>
				<key>step</key>
				<string>4.滤干水分。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/112/11113_1b52a6b8f3bc7fde.jpg</string>
				<key>step</key>
				<string>5.锅里放油，放入花椒，炸焦捞出。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/112/11113_34a611c8126c9e53.jpg</string>
				<key>step</key>
				<string>6.放入春笋翻炒。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/112/11113_03d3f1044bed0cd8.jpg</string>
				<key>step</key>
				<string>7.加酱油，白糖，开水，旺火烧开小火焖10分钟。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/112/11113_a548886e79bc54de.jpg</string>
				<key>step</key>
				<string>8.待汤汁浓稠时，下入青椒大火翻炒，加少许盐、味精翻炒均匀，出锅前淋入香油即可。</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/112/11113_cd5b7fbb6b074150.jpg</string>
				<key>step</key>
				<string>9.盛入盘中，即可享用。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>浙菜;家常菜;10-20分钟;焖;春季;全菜系;1-2人;炒锅;其他味</string>
		<key>title</key>
		<string>油焖春笋</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/43/42078_136370.jpg</string>
		</array>
		<key>burden</key>
		<string>油,适量;盐,适量;红辣椒,适量;淀粉,适量;白糖,适量;酱油,适量</string>
		<key>id</key>
		<string>42078</string>
		<key>imtro</key>
		<string>茭白具有解热毒；除烦渴；利二便。主烦热；消渴；二便不通；黄疸；痢疾；热淋；目赤；乳汗不下；疮疡等功效。</string>
		<key>ingredients</key>
		<string>茭白,150g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42078_6e4ac7e3f4b94be2.jpg</string>
				<key>step</key>
				<string>1.茭白去表皮，洗净；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42078_f86da42b0e890d3c.jpg</string>
				<key>step</key>
				<string>2.切滚刀块；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42078_c22a8c50a6b13a2f.jpg</string>
				<key>step</key>
				<string>3.下油锅炸；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42078_b7b87fb6ff4a4d6e.jpg</string>
				<key>step</key>
				<string>4.炸至金黄色捞出；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42078_4c796be13863d067.jpg</string>
				<key>step</key>
				<string>5.锅里添适量水，加酱油、盐、白糖；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42078_1b9459241b42f984.jpg</string>
				<key>step</key>
				<string>6.倒入茭白焖煮3分钟左右；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42078_5dd3ba6fe3be397d.jpg</string>
				<key>step</key>
				<string>7.勾芡；</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42078_be65281c2646265f.jpg</string>
				<key>step</key>
				<string>8.出锅，放红辣椒点缀。</string>
			</dict>
		</array>
		<key>tags</key>
		<string>浙菜;家常菜;10分钟内;焖;秋季;全菜系;1-2人;炒锅;其他味</string>
		<key>title</key>
		<string>油焖茭白</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/43/42063_667235.jpg</string>
		</array>
		<key>burden</key>
		<string>油,200ml;盐,5g;面粉,150g;料酒,10ml</string>
		<key>id</key>
		<string>42063</string>
		<key>imtro</key>
		<string>虾肉含有丰富的矿物质，宝宝适当吃些对身体发育很有好处.</string>
		<key>ingredients</key>
		<string>小河虾,250g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42063_ac932c8c8ed86eba.jpg</string>
				<key>step</key>
				<string>1.小虾洗净放入盐和料酒</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42063_12b3bc4f32eddf20.jpg</string>
				<key>step</key>
				<string>2.准备面粉</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42063_965e8ccdade80719.jpg</string>
				<key>step</key>
				<string>3.把面粉倒入腌好的小虾内</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42063_1ea0e7127b30b839.jpg</string>
				<key>step</key>
				<string>4.搅拌一下，让每只虾身上都沾上面糊</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42063_dd367fc1a699393a.jpg</string>
				<key>step</key>
				<string>5.锅中放油，放入一小块虾饼，炸至两面变红就可以</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/421/42063_bc1a84f00212f3bc.jpg</string>
				<key>step</key>
				<string>6.炸好的一块虾饼</string>
			</dict>
		</array>
		<key>tags</key>
		<string>浙菜;早餐;10分钟内;煎;香;饼;全菜系;1-2人;煎锅;中国传统小吃;小孩子都喜欢</string>
		<key>title</key>
		<string>炸虾饼</string>
	</dict>
	<dict>
		<key>albums</key>
		<array>
			<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/t/24/23987_705024.jpg</string>
		</array>
		<key>burden</key>
		<string>八角,2个;生姜,3片;大葱,2段;酱油,30ml;香醋,30ml;白糖,45g;料酒,15g;盐,3g;熟白芝麻,适量;葱花,适量</string>
		<key>id</key>
		<string>23987</string>
		<key>imtro</key>
		<string>一些甜蜜的食物里总会有诸多故事。有关糖醋小排的故事，可以出本密集的书。许多年前的文字里，食物是点缀，点缀女子或欢喜或落寞的心情，点缀那些或轰轰烈烈或惨淡虚无或风生水起的爱情。那时只知晓旅途的沧桑厚重，却并不知市井中的女子其实在纠葛过后，得以平静的不是问候，只是食物。 所以，多年后的自己，再次做这道糖醋小排时，只谈论美食，不沾惹风月。 糖醋小排的魅力，在于它身份的多元。既可以是出得宴会餐桌上的雅致佳肴，也可以是入得寻常百姓家的佐酒小食，既可以惊叹于它刚出锅时的香浓甜蜜，又可以盛赞冷却后入口的香脆和无尽余味。 如果说食物也可以有人格魅力的话，我的味蕾彻底被其所征服。 料理出口感和卖相都相对完美的糖醋小排需要一些实实在在的小技巧，不能心急，否则糖汁儿无法完全包裹住排骨，也不能延时，拔丝排骨是谁都不愿看到的结果。所以，你需要一个安静到只有音乐声或广播声的空间，需要一份足够平和安稳的心情，慢慢的衡量着那些细腻心事，慢慢的料理这道精致的食物。 告诉自己，一切本妖娆，生活多美好。</string>
		<key>ingredients</key>
		<string>小肋排,300g</string>
		<key>steps</key>
		<array>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/240/23987_801687dd213526e1.jpg</string>
				<key>step</key>
				<string>1.小肋排洗净，切成一寸长的段，控水备用</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/240/23987_b95bd678eeb9b7dd.jpg</string>
				<key>step</key>
				<string>2.汤锅内注入2/3的清水，放入排骨、葱段、八角、料酒和姜片，大火煮沸后转中小火加盖煮1个小时后捞出沥水</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/240/23987_f8e4f460a056cb33.jpg</string>
				<key>step</key>
				<string>3.炒锅内热油（油量为平时炒菜的3倍），约五成热时倒入煮好的排骨，小火炸至两面金黄水分变干时捞出控油</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/240/23987_b00baf5f52dcc102.jpg</string>
				<key>step</key>
				<string>4.洗干净锅，在锅中加入白糖和少许清水，用小火慢慢的将糖熬至融化，待表面翻泡泡并且颜色变黄糖汁有一点儿粘稠感时，依次调入盐、香醋、酱油，混合均匀，慢慢搅拌着熬成深色的糖色</string>
			</dict>
			<dict>
				<key>img</key>
				<string>http://juheimg.oss-cn-hangzhou.aliyuncs.com/cookbook/s/240/23987_114be4430a7a73c3.jpg</string>
				<key>step</key>
				<string>5.将控过油的排骨放入糖汁中，翻拌均匀后出锅，撒葱花和白芝麻，冷热食用皆有风味</string>
			</dict>
		</array>
		<key>tags</key>
		<string>浙菜;私房菜;10-20分钟;小排;全菜系;1-2人;锅子</string>
		<key>title</key>
		<string>糖醋小排</string>
	</dict>
</array>
</plist>
